// Prevent FOUT and handle initial state
body {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

body.loaded {
  opacity: 1;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-color: var(--color--brown);
  overflow: hidden;
  z-index: 1;
  
  .cursor-gradient {
    position: absolute;
    pointer-events: none;
    width: 86vw;
    height: 86vw;
    mix-blend-mode: exclusion;
    z-index: 2;
    background: url('https://kontrast-three.vercel.app/img/Searchlight.svg') center center no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    transition: transform 8s cubic-bezier(0.1, 0.4, 0.2, 1), opacity 3s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
    top: 0;
    left: 0;
    display: block !important;
    -webkit-mask-image: radial-gradient(circle at center, black 30%, transparent 70%);
    mask-image: radial-gradient(circle at center, black 30%, transparent 70%);

    @media screen and (max-width: 767px) {
      width: 86vh;
      height: 86vh;
    }
  }
}

// No-JS fallback
html.no-js {
  body {
    opacity: 1 !important;
  }
  
  .cursor-gradient {
    display: none !important;
  }
}
