.hero {
  position: relative;
  min-height: 100vh;
  background-color: var(--color--brown);
  overflow: hidden;
  
  .cursor-gradient {
    position: absolute;
    pointer-events: none;
    width: 64vw;
    height: 64vw;
    mix-blend-mode: difference;
    z-index: 999999;
    background: url('https://kontrast-three.vercel.app/img/Searchlight.svg') center center no-repeat;
    background-size: 100% 100%;
    opacity: 0.75;
    transition: transform 8s cubic-bezier(0.1, 0.4, 0.2, 1);
    will-change: transform;
    top: 0;
    left: 0;
    display: block !important;
  }
}