.hero {
  position: relative;
  min-height: 100vh;
  background-color: var(--color--brown);
  
  .cursor-gradient {
    position: fixed;
    pointer-events: none;
    width: 64vw;
    height: 64vw;
    mix-blend-mode: difference;
    z-index: 999999;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 100%
    );
    opacity: 0.75;
    transition: transform 8s cubic-bezier(0.1, 0.4, 0.2, 1);
    will-change: transform;
    top: 0;
    left: 0;
    display: block !important;
  }
}